[
    {
        "environment": [
            { "name": "PORT", "value": "${dapperdox_developer_port}" },
            { "name": "LOGLEVEL", "value": "${log_level}" },
            { "name": "INCLUDE_API_FILING_PUBLIC_SPECS", "value": "${include_api_filing_public_specs}" },
            { "name": "INCLUDE_PENDING_PUBLIC_SPECS", "value": "${include_pending_public_specs}" },
            { "name": "INCLUDE_PRIVATE_SPECS", "value": "${include_private_specs}" }
        ],
        "name": "${service_name}",
        "image": "${docker_registry}/local/dapperdox.developer.ch.gov.uk:${dapperdox_developer_version}",
        "cpu": 1,
        "memory": 512,
        "mountPoints": [],
        "portMappings": [{
            "containerPort": ${dapperdox_developer_port},
            "hostPort": 0,
            "protocol": "tcp"
        }],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/${service_name}",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "secrets": [
            { "name": "FAKE_SECRET_ENV_TEST", "valueFrom": "${web-oauth2-client-id}" }
        ],
        "volumesFrom": [],
        "essential": true
    }
]
